@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
}

.search-button,
.site-search {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.user-panel-link,
.controls-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.navigation-services-link,
.catalog-products-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-catalog-products-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.product-slogan {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 29px;
}

.main-characteristic-product {
  color: #444444;
  margin-bottom: 50px;
}

.detailed-characteristic-product {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  background-color: #ffe17f;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.characteristic-product-item {
  font-size: 16px;
  color: #444444;
}

.characteristic-product-item b {
  font-size: 36px;
  color: #000000;
}

.product-categories-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  width: 160px;
}

.product-categories-image {
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
}

.slide-switching-quadcopter .slide-one,
.slide-switching-smart-watch .slide-two,
.slide-switching-selfie-stick .slide-three {
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.slide-switching-quadcopter .slide-two,
.slide-switching-quadcopter .slide-three,
.slide-switching-smart-watch .slide-one,
.slide-switching-smart-watch .slide-three,
.slide-switching-selfie-stick .slide-one,
.slide-switching-selfie-stick .slide-two {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.services-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffe17f;
  text-align: center;
}

.services-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 242px;
  margin-bottom: 34px;
}

.delivery-products {
  background-color: #f0f0f0;
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.navigation-delivery-products {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 910px;
  margin: 40px auto;
}

.delivery-products-image {
  background-color: #ffe17f;
  width: 125px;
  height: 100px;
}

.contacts-header {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 47px auto 48px 0;
}

.transport-companies-name {
  font-weight: 700;
  font-size: 18px;
}

.store-information,
.contact-store {
  font-family: "Raleway""Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffe17f;
}

.address-header,
.working-hours {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 15px;
}

.contacts-phone,
.working-hours-item {
  color: #444444;
  font-style: normal;
}

.subscription {
  background-color: #f0f0f0;
}

.subscription-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-address-text,
.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.inner-header-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.catalog-sorting-title,
.pagination-prev,
.pagination-next {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.filter-button {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #ffe17f;
  border: none;
}

.catalog-products-filter {
  background-color: #f0f0f0;
  width: 320px;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  border: none;
  background-color: #f0f0f0;
}

.products-cards-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #ffe17f;
  color: #000000;
}

.new-product {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.products-cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.products-cards-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.show-more-products {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  border: 3px solid #e5e5e5;
}

.pagination {
  background-color: #ebebeb;
  width: 760px;
  margin: 0 auto;
}

.pagination-prev {
  color: #444444;
  font-size: 18px;
  line-height: 21px;
}

.pagination-next {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
}

.pagination-link,
.pagination-ellipsis {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  text-align: center;
}

.user-panel {
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin-left: 26px;
  background-image: url(../images/user.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.comparison {
  background-image: url(../images/comparison.svg);
  background-repeat: no-repeat;
  background-position: left;
  text-align: center;
}

.basket {
  background-image: url(../images/basket.svg);
  background-repeat: no-repeat;
  background-position: left;
  text-align: center;
}

.courier {
  background-image: url(../images/courier.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.guarantee {
  background-image: url(../images/guarantee.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.credit {
  background-image: url(../images/credit.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.free {
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
  width: 160px;
  background-position: left;
  text-align: right;
  margin-bottom: 69.5px;
  margin-right: 141px;
}

.main-container {
  flex-grow: 1;
}

.logo-header {
  display: block;
  margin-left: 60px;
  margin-bottom: 30px;
}

.user-functionality {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 1040px;
}

.search-products {
  width: 517px;
  margin-left: 0;
}

.controls {
  width: 240px;
  margin-left: 26px;
}

.navigation-services {
  display: flex;
  width: 1040px;
  margin: 0 auto;
}

.catalog-products-navigation {
  display: flex;
  justify-content: space-between;
  width: 293px;
}

.navigation-services-list {
  display: flex;
  justify-content: space-between;
  width: 471px;
  margin-left: 276px;
  list-style-type: none;
}

.navigation-catalog-products {
  margin-left: 60px;
}

.slider {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.slide {
  display: flex;
  width: 1160px;
  margin-left: 0;
}

.slide-image {
  display: block;
  margin-left: 0;
}

.slide-info {
  width: 560px;
  margin-left: 40px;
}

.navigation-product-categories {
  width: 1160px;
  margin: 0 auto;
}

.product-categories-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.product-categories-item {
  width: 160px;
}

.product-image {
  margin: 45px 14px;
}

.services {
  display: flex;
  width: 1160px;
  margin: 0 auto 70px auto;
}

.activated-service {
  color: #ffe17f;
  background-color: #000000;
}

.services-item {
  width: 160px;
  list-style-type: none;
}

.activated-service-item {
  width: 280px;
  background-color: #000000;
}

.services-slides {
  width: 694px;
  margin-left: 116px;
}

.services-text {
  width: 452px;
}

.delivery-info-image {
  display: block;
  margin: 30px auto;
}

.delivery-transport {
  display: block;
  margin: 35px auto;
}

.store-data {
  width: 1160px;
  margin: 0 auto 70px auto;
  display: flex;
}

.information-store {
  width: 520p;
  margin: 0 108px 52px 0;
}

.contacts-store {
  width: 532p;
  margin-left: 108px;
}

.subscription {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.subscription-header {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-left: 147px;
  margin-top: 64px;
  margin-bottom: 144px;
  max-width: 348px;
}

.subscription-text {
  width: 560px;
  margin: 74px 133px 144px 252px;
}

.subcription-form {
  width: 810px;
  margin-left: 141px;
  margin-bottom: 56px;
}

.footer-address {
  width: 239px;
  margin-left: 140px;
  margin-top: 62px;
  margin-bottom: 77px;
}

.footer-navigation {
  width: 444px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 137px;
  margin-bottom: 61px;
}

.footer-navigation-list {
  width: 444px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 62px auto;
  list-style-type: none;
}

.footer-contacts-list {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin: 0 auto;
  list-style-type: none;
}

.footer-phone {
  width: 185px;
  margin-right: 140px;
  margin-top: 140px;
  margin-bottom: 65px;
}

.inner-header {
  width: 1079;
  margin-left: 200px;
  margin-right: 161px;
}

.breadcrumbs-list {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-left: 0;
}

.catalog-products-menu {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-products-cards {
  width: 840px;
  margin-left: 0;
}

.catalog-sorting {
  background-color: #f0f0f0;
  display: flex;
  width: 840px;
  justify-content: space-between;
}

.catalog-products-filter-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  width: 270px;
  margin-left: 60px;
}

.catalog-filter-color {
  width: 200px;
  margin: 0 auto;
}

.catalog-filter-bluetooth {
  width: 200px;
  margin: 0 auto;
}

.filter-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  width: 220px;
  margin-left: 60px;
  margin-right: 40px;
}

.products-cards {
  width: 840px;
}

.products-cards-list {
  width: 760px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card-item {
  width: 360px;
  list-style-type: none;
}

.show-more-products-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.show-more-products {
  width: 760px;
  margin: 0 auto;
}

.pagination-list {
  display: flex;
  justify-content: space-evenly;
}

.controls-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-products-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navigation-catalog-products-list {
  list-style-type: none;
}

.characteristic-product-list {
  list-style-type: none;
}

.characteristic-product {
  display: flex;
  min-width: 307px;
}

.product-categories {
  min-width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.services-list {
  margin: 64 0 65 0;
  padding: 0;
}

.delivery-info {
  width: 125px;
}

.contacts-text {
  color: #444444;
  font-style: normal;
  margin-bottom: 30px;
}

.address-store {
  margin-bottom: 30px;
}

.contacts-address {
  color: #444444;
  font-style: normal;
  margin-bottom: 0;
}

.working-hours-list{
  list-style-type: none;
  margin-bottom: 30px;
}
